$titulos:black;
$textos:black;
$boton:#F1BD0B;
$botonhover:#E2540C;
$textosbtn:#f8f4f4;
$size: 20px;
$normal: #95A5A6;//gris
$selected: #F39C12;//amarillo
$size-text:10px;
$face:#2C438B;
$icoletra:white;//blanco